.root {
  position: relative;
  left: -40px;
  @media (max-width: 870px) {
    width: -15px;
  }
  @media (max-width: 870px) {
    left: 0;
  }
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  width: 280px;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 42px;
  transition: all 0.15s ease-in-out;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 870px) {
    width: 250px;
  }
  @media (max-width: 850px) {
    margin-bottom: 15px;
    position: static;
    width: 350px;
  }
  @media (max-width: 600px) {
    width: 250px;
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 14px;
  top: 12px;
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 15px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
